html, body {
  padding: 0;
  margin: 0;
}

.Typewriter .name{
  font-size: 3em;
  margin: 0 0 0.8em, 0;
  background: radial-gradient(center 20px, circle, #616161 0%, #616161 20%, #282828 100%);
}

.Typewriter p, b{
  font-family: 'Share Tech', sans-serif;
  font-size: 1.5em;
  margin: 0;
}

.Typewriter p{
  margin-bottom: 0.8em;
  color: #fff;
}

.Typewriter b{
  margin-bottom: 0.3em;
}

.Typewriter .mail {
  margin: 0 0 0.6em 0;
}

.landing-page {
  position: relative;
  color: #f8d605;
  height: 100vh;
  width: 100%;
  margin: 0;
  text-align: center;
  background: radial-gradient(rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0))no-repeat,
              url('images/try.jpg') no-repeat;
  background-size: cover;
}

.Typewriter {
  position: absolute;
  width: 60%;
  top: 15%;
  left: 20%;
  padding: 1.2em;
  /* background: #000; */
  border-radius: 0.3em;
}

a i{
  color: #fff;
  padding-left: 1em;
  font-size: 1.5em;
}

.Typewriter a i:hover {
  color: #fff;
}
