html, body {
  padding: 0;
  margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Landing Page */

/* Personal Info */

.Typewriter  {
  font-family: 'Share Tech', sans-serif;
}

.Typewriter .name{
  font-size: 2.5em;
  margin: 0 0 0.5em 0;
  background: radial-gradient(center 20px, circle, #616161 0%, #616161 20%, #282828 100%);
  color: #fff;
}

.Typewriter p, b{
  font-size: 1.5em;
  margin: 0;
}

.Typewriter p{
  margin-bottom: 0.8em;
  color: #fff;
  font-size: 1.2em;
}

.Typewriter b{
  margin-bottom: 0.3em;
}

.Typewriter .mail {
  margin: 0 0 0.6em 0;
}

.landing-page {
  position: relative;
  color: #f8d605;;
  height: 100vh;
  width: 100%;
  margin: 0;
  text-align: center;
  background: radial-gradient(rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0.4))no-repeat,
              url('images/see.jpeg') no-repeat;
  background-size: cover;
  background-color: #464646;
  background-position: center;
  background-attachment: fixed;
}

.Typewriter {
  position: absolute;
  width: 60%;
  top: 15%;
  left: 20%;
  padding: 1.2em;
  /* background: #000; */
  border-radius: 0.3em;
  text-transform: uppercase;
}

a i{
  color: #fff;
  padding-left: 1em;
  font-size: 1.5em;
}

.Typewriter a i:hover {
  color: #fff;
}

.Typewriter .role, .Typewriter .last-role{
  font-size: 1.2em;
  color: #ffffff;
  margin: 0;
}

.Typewriter .last-role{
  margin-bottom: 1.2em;
  font-size: 1.2em;
}

/* Scroll Animated icon */

.scroll-icon {
  position: absolute;
  bottom: 15vh;
  width: 2vw;
  left: 50vw;
  height: 24px;
  visibility: hidden;
  cursor: pointer;
}

#scroll {
  cursor: pointer;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  30% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.text:hover {
  border: none;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* skills */

.skills-page {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;  
  background-image: linear-gradient(to bottom, #16222a, #3F0E40);
}

.skills-page .skill {
  height: 100%;
  position: relative;
  padding-bottom: -12vh;
  background-color: #fff;
}

.skills-page > div{
  flex: 1 1 40%;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 2em;
}

.inner-skill {
  display: inline-blockS;
}

.skills-page .skill .btm {
    margin: 0.8em 0 0 0.8em;
    padding-bottom: 10vh;
}

.skills-page .skill .btm .desc {
  padding-bottom: 0.5em;
}

.skills-page .skill .btm .tec-cont ul {
  list-style: none;
  padding: 0;
  margin: 0 auto 0.8em auto;
  max-width: 100%;
}

.skills-page .skill .btm .tec-cont {
  position: absolute;
  bottom: 0;
  height: 10vh;
}

.skills-page .skill .btm .tec-cont ul li {
  display: inline-block;
  border: 0.2px solid #464646;
  padding: 0.5em;
  border-right: none;
}

.skills-page .skill .btm .tec-cont ul li:last-of-type {
  border-right: 0.2px solid #464646;
}

.skills-page .skill .btm .desc p {
  margin:  0;
}

h4{
  color: #464646;
  margin: 0 0 0.5em 0;
}

.skill .img-cont {
  position: relative;
  width: 100%;
  height: 40vh;
  margin: 0 auto;
  overflow: hidden;
}

.skill .img-cont .overlay {
  position: absolute;
  left: 0;
  border-bottom: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  background:
    radial-gradient(
      rgba(0, 0, 0, 0.8) 20%,
      rgba(0, 0, 0, 0.5)
    );
  visibility: hidden;
}

.skill .img-cont .overlay a{
  color: #fff;
  text-decoration: none;
}

.skill .img-cont .overlay a i {
  color: #fff;
  font-size: 0.9em;
}

.skill .img-cont .overlay p {
  height: 40vh;
  line-height: 40vh;
  text-align: center;
}

.skill .img-cont .overlay a:hover {
  text-decoration: underline;
}

.skill .img-cont .overlay:hover + figure {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.skill .img-cont .overlay:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.skill figure {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 1px solid black;
}

.skill figure img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

h2{
  text-align: center;
  font-family: 'Share Tech', sans-serif;
}

/* Footer */
footer {
  height: 10vh;
  margin-top: 5vh;
  text-align: center;
  width: 100vw;
  display: inline-block;
}


@media only screen and (max-width:790px) {

  .Typewriter {
    width: 90%;
    left: 5%;
  }

  .skills-page {
    display: block;
  }
}

@media only screen and (max-width:900px) {
  /* Landing Page */
  .Typewriter .name {
    font-size: 1.6em;
  }

  .Typewriter b {
    font-size: 1.2em;
  }

  .Typewriter .role, .Typewriter .last-role, .Typewriter p {
    font-size: 1em;
  }

  .skills-page > div {
    margin: 1.2em;
  }
}

@media only screen and (max-width:500px) {
  .landing-page .Typewriter {
    left: 0;
  }

  .landing-page .scroll-icon {
    bottom: 17vh;
  }

  .skills-page {
    padding: 2em 0 2em 0;
  }
}
