html, body {
  padding: 0;
  margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Landing Page */

/* Personal Info */

.Typewriter .name{
  font-size: 3em;
  margin: 0 0 0.5em 0;
  background: radial-gradient(center 20px, circle, #616161 0%, #616161 20%, #282828 100%);
}

.Typewriter p, b{
  font-family: 'Share Tech', sans-serif;
  font-size: 1.5em;
  margin: 0;
}

.Typewriter p{
  margin-bottom: 0.8em;
  color: #fff;
  font-size: 1em;
}

.Typewriter b{
  margin-bottom: 0.3em;
}

.Typewriter .mail {
  margin: 0 0 0.6em 0;
}

.landing-page {
  position: relative;
  color: #f8d605;;
  height: 100vh;
  width: 100%;
  margin: 0;
  text-align: center;
  background: radial-gradient(rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0))no-repeat,
              url('images/see.jpeg') no-repeat;
  background-size: cover;
}

.Typewriter {
  position: absolute;
  width: 60%;
  top: 15%;
  left: 20%;
  padding: 1.2em;
  /* background: #000; */
  border-radius: 0.3em;
  text-transform: uppercase;
}

a i{
  color: #fff;
  padding-left: 1em;
  font-size: 1.5em;
}

.Typewriter a i:hover {
  color: #fff;
}

.Typewriter .role{
  margin: 0;
  font-size: 1em;
}

.Typewriter .last-role{
  margin-bottom: 1.2em;
  font-size: 1em;
}

/* Scroll Animated icon */

.scroll-icon {
  position: absolute;
  bottom: 15vh;
  width: 2vw;
  left: 50vw;
  height: 24px;
  visibility: hidden;
  cursor: pointer;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
  background-color: inherit;
  border: none;
}

.text:hover {
  border: none;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* skills */

.skills-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  /* background-color: #B5EBF5; */
}

.skill{
  width: 100%;
  flex: 0 50%;
  box-shadow: inset 0 0 10px 0 #000000;
  padding: 0.8em;
  box-sizing:border-box;
  background-color: #0f0f23;
  color: #00cc00;
  font-family: 'Share Tech', sans-serif;
  text-align: center;
  border: 1.1em solid #fff;
  border-radius: 3em;
}

h4{
  color: #f8d605;
}

h3, h4{
  margin: 0 0 0.3em 0;
}

.skill ul li{
  list-style: none;
  color: #cccccc;
}

.skill ul{
  margin: 0 0 0.3em 0;
}
.skill i{
  color: #000;
}

h2{
  text-align: center;
  font-family: 'Share Tech', sans-serif;
}
